name: Release @takuma-ru/auto-story-generator package

run-name: Release ${{ inputs.releaseLevel }} version

on:
  workflow_dispatch:
    inputs:
      releaseLevel:
        description: "Release level"
        required: true
        default: "patch(0.0.X)"
        type: choice
        options:
          - major(X.0.0)
          - minor(0.X.0)
          - patch(0.0.X)
      isBeta:
        description: "Is beta release (exp: X.X.X-beta.0)"
        required: false
        type: boolean

      isBetaVersionUp:
        description: "Is beta version up (exp: X.0.0-beta.X <= here!!)"
        required: false
        type: boolean

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      issues: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
    environment:
      name: Publish
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NODE_OPTIONS: --max_old_space_size=8192

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          registry-url: "https://registry.npmjs.org/"

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8.14.1
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Node Dependencies
        run: pnpm install

      - name: Set .npmrc
        run: echo '//registry.npmjs.org/:_authToken=${NPM_TOKEN}' > packages/auto-story-generator/.npmrc

      - name: Set current datetime as env variable
        id: set-current-datetime
        env:
          TZ: "Asia/Tokyo"
        run: echo "CURRENT_DATETIME=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_OUTPUT

      - name: Create release branch
        id: create_branch
        run: |
          git switch -c release/${{ steps.set-current-datetime.outputs.CURRENT_DATETIME }}
          git push -u origin release/${{ steps.set-current-datetime.outputs.CURRENT_DATETIME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Major release
        id: major
        run: pnpm asg publish:major
        if: contains(inputs.releaseLevel, 'major(X.0.0)') && contains(inputs.isBeta, 'false') && contains(inputs.isBetaVersionUp, 'false')

      - name: Major Beta release
        id: major-beta
        run: pnpm asg publish:major-beta
        if: contains(inputs.releaseLevel, 'major(X.0.0)') && contains(inputs.isBeta, 'true') && contains(inputs.isBetaVersionUp, 'false')

      - name: Minor release
        id: minor
        run: pnpm asg publish:minor
        if: contains(inputs.releaseLevel, 'minor(0.X.0)') && contains(inputs.isBeta, 'false') && contains(inputs.isBetaVersionUp, 'false')

      - name: Minor Beta release
        id: minor-beta
        run: pnpm asg publish:minor-beta
        if: contains(inputs.releaseLevel, 'minor(0.X.0)') && contains(inputs.isBeta, 'true') && contains(inputs.isBetaVersionUp, 'false')

      - name: Patch release
        id: patch
        run: pnpm asg publish:patch
        if: contains(inputs.releaseLevel, 'patch(0.0.X)') && contains(inputs.isBeta, 'false') && contains(inputs.isBetaVersionUp, 'false')

      - name: Patch Beta release
        id: patch-beta
        run: pnpm asg publish:patch-beta
        if: contains(inputs.releaseLevel, 'patch(0.0.X)') && contains(inputs.isBeta, 'true') && contains(inputs.isBetaVersionUp, 'false')

      - name: Beta version up
        id: beta-version-up
        run: pnpm asg publish:prerelease
        if: contains(inputs.isBeta, 'false') && contains(inputs.isBetaVersionUp, 'true')

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        if: steps.major.conclusion == 'success' || steps.minor.conclusion == 'success' || steps.patch.conclusion == 'success' || steps.major-beta.conclusion == 'success' || steps.minor-beta.conclusion == 'success' || steps.patch-beta.conclusion == 'success' || steps.beta-version-up.conclusion == 'success'
        with:
          title: ":bookmark: Update package.json"
          draft: false
          base: main
          branch: release/${{ steps.set-current-datetime.outputs.CURRENT_DATETIME }}
          assignees: "${{ github.actor }}"

  create-github-release:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    environment:
      name: Publish

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          registry-url: "https://registry.npmjs.org/"

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8.14.1
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Install jq
        run: sudo apt-get install jq

      - name: Get Current package info
        id: get-package-info
        run: |
          echo "PACKAGE_VERSION=$(node -e \"console.log(require('./packages/auto-story-generator/package.json').version)\")" >> $GITHUB_OUTPUT
          echo "PACKAGE_NAME=$(node -e \"console.log(require('./packages/auto-story-generator/package.json').name)\")" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        id: create-release
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: ${{ steps.get-package-info.outputs.PACKAGE_VERSION }}
          prerelease: ${{ contains(steps.get-package-info.outputs.PACKAGE_VERSION, '-beta') }}
